.header_container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.full_screen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-end: 4;
    width: 66%;
    justify-self: center;
    margin-top: 165px;
    margin-bottom: 20px;
}

.full_screen img{
    width: 100%;
    object-fit: cover;
}

.search_banner{
    width: 100%;
    height: 53px;
    background-color: #EB7127;
    display: flex;
}

.search_banner img{
    height: 80%;
    padding: 4px;
}

.search_banner button{
    border: none;
    background: none;
    margin-left: 1%;
}

.sort_banner{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.sort_banner select{
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.sort_banner button{
    height: 60%;
    width: fit-content;
    margin-left: 7px;
    background: none;
    border-width: 1px;
}

.result_banner{
    width: 100%;
    height: 40px;
    background-color: #f0bfa0;
    align-items: center;
}

.result_banner p{
    margin-left: 19%;
}

.footer_container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
}

.footer{
    width: 100%;
    height: 90px;
    background-color:#813f16;
}

.pagination {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 18px;
}

.pagination a,
.pagination span {
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    background: #f9f9f9;
    color: black;
}

.pagination a:hover {
    background: #eee;
}

.pagination span.disabled {
    color: #999;
    background: #f1f1f1;
    border-color: #ddd;
}
